private_vars.json
private_vars_ansible.json
packer_cache
packer-*
.vagrant
*.retry
*.log
openvpn
backup
ansible.log
openvpn-client
*.img
.terraform
terraform.tfvars
terraform.tf
*.tfstate*
packer/roles/vmtools/files/vmware-tools.tar.gz
