[Unit]
Description=Sonarr Daemon
After=syslog.target network.target

[Service]
User=nzbdrone
Group=nzbdrone

Type=simple
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /home/nzbdrone/.config/NzbDrone
ExecStartPre=/bin/chown nzbdrone:nzbdrone -R /home/nzbdrone/.config/NzbDrone
ExecStart=/usr/bin/mono /opt/NzbDrone/NzbDrone.exe -nobrowser
TimeoutStopSec=20
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
